%section#source-luna.source-wrapper.source-luna.js-is-collapse-expand-open
  .source-box
    %section.luna-box
      %header.main-header.oneClick-disabled.head-big
        .waypoint-wrapper.header-row.header-first-row{"data-href" => "source-luna"}
          %h1.head-entry
            %span.me{"data-syllable" => "em·bed"}
              %span.js-headword
                %span.syllable em
                %span.last-syllable bed
          .audio-wrapper
            %audio
              %source{:src => "http://static.sfdict.com/staticrep/dictaudio/lunawav/E01/E0128400.ogg", :type => "audio/ogg"}
                %source{:src => "http://static.sfdict.com/staticrep/dictaudio/E01/E0128400.mp3", :type => "audio/mpeg"}
            %a.speaker{:href => "http://static.sfdict.com/staticrep/dictaudio/E01/E0128400.mp3"}
        .header-row.header-extras.pronounce.pronset
          %div
            %span.pron.spellpron{:style => "display: inline;"}
              [
              %span.dbox-italic v.
              em-
              %span.dbox-bold> bed
              ;
              %span.dbox-italic n.
              = succeed "-bed]" do
                %span.dbox-bold em
            %span.pron.ipapron{:style => "display: none;"}
              \/
              %span.dbox-italic v.
              ɛmˈbɛd;
              %span.dbox-italic n.
              ˈɛmˌbɛd/
            %span.pre-def-data
          %div
            %button.prontoggle.pronounce-button.pronounce-Spell-button Spell
            %button.syllable-button.syllable-button-off{"data-header" => "1"} Syllables
        .header-row
          %ul.headword-bar-list
            %li
              %a{"data-href" => "source-example-sentences"}
                Examples
            %li
              %a{"data-href" => "source-word-origin"}
                Word Origin
      .source-data
        .def-list
          %section.def-pbk
            %header.luna-data-header
              %span.dbox-pg
                %span
                  %span.oneClick-link verb
                  %span.oneClick-link (used
                  %span.oneClick-link with
                  %span.oneClick-link object)
              %span ,
              %span.dbox-bold{"data-syllable" => "em·bed·ded, "}
                %span
                  %span.oneClick-link embedded,
              %span.dbox-bold{"data-syllable" => "em·bed·ding."}
                %span
                  %span.oneClick-link.oneClick-available embedding.
            .def-set
              %span.def-number
                %span
                  %span.oneClick-link 1.
              .def-content
                %span
                  %span.oneClick-link to
                  %span.oneClick-link fix
                  %span.oneClick-link into
                  %span.oneClick-link a
                  %span.oneClick-link surrounding
                  %span.oneClick-link mass:
                .def-block.def-inline-example
                  %span.dbox-example
                    %span
                      %span.oneClick-link to
                      %span.oneClick-link embed
                      %span.oneClick-link stones
                      %span.oneClick-link in
                      %span.oneClick-link cement.
            .def-set
              %span.def-number
                %span
                  %span.oneClick-link 2.
              .def-content
                %span
                  %span.oneClick-link to
                  %span.oneClick-link surround
                  %span.oneClick-link tightly
                  %span.oneClick-link or
                  %span.oneClick-link firmly;
                  %span.oneClick-link envelop
                  %span.oneClick-link or
                  %span.oneClick-link enclose:
                .def-block.def-inline-example
                  %span.dbox-example
                    %span
                      %span.oneClick-link Thick
                      %span.oneClick-link cotton
                      %span.oneClick-link padding
                      %span.oneClick-link embedded
                      %span.oneClick-link the
                      %span.oneClick-link precious
                      %span.oneClick-link vase
                      %span.oneClick-link in
                      %span.oneClick-link its
                      %span.oneClick-link box.
            .def-set
              %span.def-number
                %span
                  %span.oneClick-link 3.
              .def-content
                %span
                  %span.oneClick-link to
                  %span.oneClick-link incorporate
                  %span.oneClick-link or
                  %span.oneClick-link contain
                  %span.oneClick-link as
                  %span.oneClick-link an
                  %span.oneClick-link essential
                  %span.oneClick-link part
                  %span.oneClick-link or
                  %span.oneClick-link characteristic:
                .def-block.def-inline-example
                  %span.dbox-example
                    %span
                      %span.oneClick-link A
                      %span.oneClick-link love
                      %span.oneClick-link of
                      %span.oneClick-link color
                      %span.oneClick-link is
                      %span.oneClick-link embedded
                      %span.oneClick-link in
                      %span.oneClick-link all
                      %span.oneClick-link of
                      %span.oneClick-link her
                      %span.oneClick-link paintings.
            .def-set
              %span.def-number
                %span
                  %span.oneClick-link 4.
              .def-content
                %span.dbox-italic
                  %span
                    %span.oneClick-link Histology.
                %span
                  %span.oneClick-link to
                  %span.oneClick-link infiltrate
                  %span.oneClick-link (a
                  %span.oneClick-link biological
                  %span.oneClick-link tissue)
                  %span.oneClick-link with
                  %span.oneClick-link molten
                  %span.oneClick-link paraffin
                  %span.oneClick-link or
                  %span.oneClick-link other
                  %span.oneClick-link plastic
                  %span.oneClick-link material
                  %span.oneClick-link that
                  %span.oneClick-link later
                  %span.oneClick-link solidifies,
                  %span.oneClick-link enabling
                  %span.oneClick-link the
                  %span.oneClick-link preparation
                  %span.oneClick-link to
                  %span.oneClick-link be
                  %span.oneClick-link sliced
                  %span.oneClick-link very
                  %span.oneClick-link thin
                  %span.oneClick-link for
                  %span.oneClick-link viewing
                  %span.oneClick-link under
                  %span.oneClick-link a
                  %span.oneClick-link microscope.
            .def-set
              %span.def-number
                %span
                  %span.oneClick-link 5.
              .def-content
                %span.dbox-italic
                  %span
                    %span.oneClick-link Mathematics.
                %span
                  %span.oneClick-link to
                  %span.oneClick-link map
                  %span.oneClick-link a
                  %span.oneClick-link set
                  %span.oneClick-link into
                  %span.oneClick-link another
                  %span.oneClick-link set.
            .def-set
              %span.def-number
                %span
                  %span.oneClick-link 6.
              .def-content
                %span.dbox-italic
                  %span
                    %span.oneClick-link Grammar.
                %span
                  %span.oneClick-link to
                  %span.oneClick-link insert
                  %span.oneClick-link (a
                  %span.oneClick-link construction,
                  %span.oneClick-link as
                  %span.oneClick-link a
                  %span.oneClick-link phrase
                  %span.oneClick-link or
                  %span.oneClick-link clause)
                  %span.oneClick-link into
                  %span.oneClick-link a
                  %span.oneClick-link larger
                  %span.oneClick-link construction,
                  %span.oneClick-link as
                  %span.oneClick-link a
                  %span.oneClick-link clause
                  %span.oneClick-link or
                  %span.oneClick-link sentence.
            .def-set
              %span.def-number
                %span
                  %span.oneClick-link 7.
              .def-content
                %span
                  %span.oneClick-link to
                  %span.oneClick-link assign
                  %span.oneClick-link (a
                  %span.oneClick-link journalist)
                  %span.oneClick-link to
                  %span.oneClick-link travel
                  %span.oneClick-link with
                  %span.oneClick-link a
                  %span.oneClick-link military
                  %span.oneClick-link unit
                  %span.oneClick-link or
                  %span.oneClick-link a
                  %span.oneClick-link political
                  %span.oneClick-link campaign:
                %span.dbox-example
                  %span
                    %span.oneClick-link The
                    %span.oneClick-link photojournalists
                    %span.oneClick-link were
                    %span.oneClick-link embedded
                    %span.oneClick-link in
                    %span.oneClick-link Afghanistan
                    %span.oneClick-link with
                    %span.oneClick-link U.S.
                    %span.oneClick-link troops.
                .def-block.def-inline-example
                  %span.dbox-example
                    %span
                      %span.oneClick-link We've
                      %span.oneClick-link embedded
                      %span.oneClick-link a
                      %span.oneClick-link reporter
                      %span.oneClick-link with
                      %span.oneClick-link each
                      %span.oneClick-link of
                      %span.oneClick-link the
                      %span.oneClick-link presidential
                      %span.oneClick-link candidates.
            .js-toggle-container.js-panelThatSlides{:style => "display: none;"}
              .js-contentThatFades
                .def-set
                  %span.def-number
                    %span
                      %span.oneClick-link 8.
                  .def-content
                    %span.dbox-italic
                      %span
                        %span.oneClick-link Digital
                        %span.oneClick-link Technology.
                    %span
                      %span.oneClick-link to
                      %span.oneClick-link place
                      %span.oneClick-link (text,
                      %span.oneClick-link images,
                      %span.oneClick-link sound,
                      %span.oneClick-link or
                      %span.oneClick-link computer
                      %span.oneClick-link code)
                      %span.oneClick-link in
                      %span.oneClick-link a
                      %span.oneClick-link computer
                      %span.oneClick-link file,
                      %span.oneClick-link HTML
                      %span.oneClick-link document,
                      %span.oneClick-link software
                      %span.oneClick-link program,
                      %span.oneClick-link or
                      %span.oneClick-link electronic
                      %span.oneClick-link device:
                    %span.dbox-example
                      %span
                        %span.oneClick-link how
                        %span.oneClick-link to
                        %span.oneClick-link embed
                        %span.oneClick-link videos
                        %span.oneClick-link on
                        %span.oneClick-link your
                        %span.oneClick-link website;
                    .def-block.def-inline-example
                      %span.dbox-example
                        %span
                          %span.oneClick-link embedded
                          %span.oneClick-link software
                          %span.oneClick-link in
                          %span.oneClick-link cars
                          %span.oneClick-link and
                          %span.oneClick-link airplanes.
            .js-luna-divider
              .button-toggle-wrapper
                %button.button-toggle.button-toggle-closed{"data-action" => "def", :type => "button"}
                  %span
                    %span.oneClick-link Expand
          %section.def-pbk
            %header.luna-data-header
              %span.dbox-pg
                %span
                  %span.oneClick-link verb
                  %span.oneClick-link (used
                  %span.oneClick-link without
                  %span.oneClick-link object)
              %span ,
              %span.dbox-bold{"data-syllable" => "em·bed·ded, "}
                %span
                  %span.oneClick-link embedded,
              %span.dbox-bold{"data-syllable" => "em·bed·ding."}
                %span
                  %span.oneClick-link embedding.
            .def-set
              %span.def-number
                %span
                  %span.oneClick-link 9.
              .def-content
                %span
                  %span.oneClick-link to
                  %span.oneClick-link be
                  %span.oneClick-link or
                  %span.oneClick-link become
                  %span.oneClick-link fixed
                  %span.oneClick-link or
                  %span.oneClick-link incorporated,
                  %span.oneClick-link as
                  %span.oneClick-link into
                  %span.oneClick-link a
                  %span.oneClick-link surrounding
                  %span.oneClick-link mass:
                .def-block.def-inline-example
                  %span.dbox-example
                    %span
                      %span.oneClick-link Glass
                      %span.oneClick-link embeds
                      %span.oneClick-link in
                      %span.oneClick-link the
                      %span.oneClick-link soft
                      %span.oneClick-link tar
                      %span.oneClick-link of
                      %span.oneClick-link the
                      %span.oneClick-link road.
          %section.def-pbk
            %header.luna-data-header
              %span.dbox-pg
                %span
                  %span.oneClick-link noun
            .def-set
              %span.def-number
                %span
                  %span.oneClick-link 10.
              .def-content
                %span
                  %span.oneClick-link a
                  %span.oneClick-link journalist
                  %span.oneClick-link who
                  %span.oneClick-link is
                  %span.oneClick-link embedded
                  %span.oneClick-link with
                  %span.oneClick-link a
                  %span.oneClick-link military
                  %span.oneClick-link unit
                  %span.oneClick-link or
                  %span.oneClick-link a
                  %span.oneClick-link political
                  %span.oneClick-link campaign.
            .def-set
              %span.def-number
                %span
                  %span.oneClick-link 11.
              .def-content
                %span
                  %span.oneClick-link a
                  %span.oneClick-link period
                  %span.oneClick-link of
                  %span.oneClick-link time
                  %span.oneClick-link during
                  %span.oneClick-link which
                  %span.oneClick-link a
                  %span.oneClick-link journalist
                  %span.oneClick-link is
                  %span.oneClick-link embedded.
        .tail-wrapper
          .tail-box.tail-type-var
            .js-collapse-expand-zone.tail-header
              %button.button-source{:type => "button"}
                %span
                  %span.oneClick-link Expand
            .tail-content
              .tail-elements
                %span
                  %span.oneClick-link Also,
                %a.dbox-xref.dbox-bold{:href => "http://dictionary.reference.com/browse/imbed"} imbed
                %span .
              .u-clear.js-toggle-tail-elem
          .tail-box.tail-type-origin
            #source-word-origin.js-collapse-expand-zone.tail-header.waypoint-wrapper{"data-href" => "source-word-origin"}
              %span
                %span.oneClick-link Origin
              %button.button-source{:type => "button"}
                %span
                  %span.oneClick-link Expand
            .tail-content
              .tail-elements.js-toggle-tail-blobs
                .timeline.oneClick-disabled.js-unwrappable-tail-element
                  .span{:style => "left:82.743988684583% ; width:0.70721357850071% ;"}
                    %span.date.start-date{:style => "left:-68px;"} 1770-1780
                %span.dbox-roman
                  %span
                    %span.oneClick-link 1770-80;
                %a.dbox-xref.dbox-roman{:href => "http://dictionary.reference.com/browse/em-"} em-
                %span.dbox-hn
                  %sup 1
                %span +
                %a.dbox-xref.dbox-roman{:href => "http://dictionary.reference.com/browse/bed"} bed
          .tail-box.tail-type-relf
            .js-collapse-expand-zone.tail-header
              %span
                %span.oneClick-link Related
                %span.oneClick-link forms
              %button.button-source{:type => "button"}
                %span
                  %span.oneClick-link Expand
            .tail-content
              .tail-elements
                %span.dbox-bold{"data-syllable" => "em·bed·ment, "}
                  %span
                    %span.oneClick-link embedment,
                %span.dbox-pg
                  %span
                    %span.oneClick-link noun
              .u-clear.js-toggle-tail-elem
  .source-meta
    Dictionary.com Unabridged
    %br>/
    Based on the Random House Dictionary, © Random House, Inc. 2015.
    %br/
    %a.source-cite{:href => "http://dictionary.reference.com/cite.html?qh=embed&amp;ia=luna", :rel => "nofollow"} Cite This Source
%section#source-example-sentences.source-wrapper.source-example-sentences.js-is-collapse-expand-open
  .js-collapse-expand-zone.source-title{"data-href" => "source-example-sentences"}
    Examples from the web for
    %span.u-headword
      %span.js-headword
        %span.syllable em
        %span.last-syllable bed
    %button.js-button-source.button-source{:type => "button"} Expand
  .source-box
    %ul#example-sentences.list-unstyled
      %li.example-sentence
        %span
          %span.oneClick-link It
          %span.oneClick-link would
        %em
          %span
            %span.oneClick-link embed
        %span
          %span.oneClick-link the
          %span.oneClick-link government
          %span.oneClick-link more
          %span.oneClick-link deeply
          %span.oneClick-link in
          %span.oneClick-link ratings.
      %li.example-sentence
        %span
          %span.oneClick-link Figure
          %span.oneClick-link out
          %span.oneClick-link ways
          %span.oneClick-link to
        %em
          %span
            %span.oneClick-link embed
        %span
          %span.oneClick-link leadership,
          %span.oneClick-link social,
          %span.oneClick-link and
          %span.oneClick-link global
          %span.oneClick-link skills
          %span.oneClick-link in
          %span.oneClick-link everyday
          %span.oneClick-link curricula.
      %li.example-sentence
        %span
          %span.oneClick-link The
          %span.oneClick-link mission
          %span.oneClick-link is
          %span.oneClick-link to
        %em
          %span
            %span.oneClick-link embed
        %span
          %span.oneClick-link propaganda
          %span.oneClick-link messages
          %span.oneClick-link in
          %span.oneClick-link supposedly
          %span.oneClick-link objective
          %span.oneClick-link reports.
    .js-toggle-container.js-panelThatSlides{:style => "display: none;"}
      .js-contentThatFades/
  %li.example-sentence
    %span
      %span.oneClick-link The
      %span.oneClick-link molecules
    %em
      %span
        %span.oneClick-link embed
    %span
      %span.oneClick-link themselves
      %span.oneClick-link at
      %span.oneClick-link interfaces
      %span.oneClick-link between
      %span.oneClick-link oil
      %span.oneClick-link and
      %span.oneClick-link water.
  %li.example-sentence
    %span
      %span.oneClick-link Army
      %span.oneClick-link would
    %em
      %span
        %span.oneClick-link embed
    %span
      %span.oneClick-link humanities
      %span.oneClick-link types
      %span.oneClick-link into
      %span.oneClick-link fighting
      %span.oneClick-link brigades.
  %li.example-sentence
    %span
      %span.oneClick-link It
      %span.oneClick-link would
      %span.oneClick-link be
      %span.oneClick-link a
      %span.oneClick-link practical,
      %span.oneClick-link constructive,
      %span.oneClick-link and
      %span.oneClick-link efficient
      %span.oneClick-link way
      %span.oneClick-link to
    %em
      %span
        %span.oneClick-link embed
    %span
      %span.oneClick-link some
      %span.oneClick-link financial
      %span.oneClick-link literacy
      %span.oneClick-link in
      %span.oneClick-link the
      %span.oneClick-link curriculum.
  %li.example-sentence
    %span
      %span.oneClick-link They
      %span.oneClick-link allegedly
      %span.oneClick-link contracted
      %span.oneClick-link with
      %span.oneClick-link others
      %span.oneClick-link to
    %em
      %span
        %span.oneClick-link embed
    %span
      %span.oneClick-link the
      %span.oneClick-link stolen
      %span.oneClick-link data
      %span.oneClick-link onto
      %span.oneClick-link fraudulent
      %span.oneClick-link cards.
  %li.example-sentence
    %span
      %span.oneClick-link The
      %span.oneClick-link second
      %span.oneClick-link is
      %span.oneClick-link to
    %em
      %span
        %span.oneClick-link embed
    %span
      %span.oneClick-link the
      %span.oneClick-link shield
      %span.oneClick-link in
      %span.oneClick-link an
      %span.oneClick-link agreement
      %span.oneClick-link that
      %span.oneClick-link limits
      %span.oneClick-link its
      %span.oneClick-link capabilities.
  %li.example-sentence
    %span
      %span.oneClick-link There
      %span.oneClick-link was
      %span.oneClick-link an
      %span.oneClick-link earlier
      %span.oneClick-link problem
      %span.oneClick-link with
      %span.oneClick-link the
    %em
      %span
        %span.oneClick-link embed
    %span
      %span.oneClick-link code,
      %span.oneClick-link but
      %span.oneClick-link this
      %span.oneClick-link had
      %span.oneClick-link been
      %span.oneClick-link fixed.
  %li.example-sentence
    %span
      %span.oneClick-link DiA
      %span.oneClick-link should
    %em
      %span
        %span.oneClick-link embed
    %span
      %span.oneClick-link his-
      %span.oneClick-link or
      %span.oneClick-link herself
      %span.oneClick-link in
      %span.oneClick-link a
      %span.oneClick-link checkpoint
      %span.oneClick-link unit.
  .js-luna-divider
    .button-toggle-wrapper
      %button.button-toggle.button-toggle-closed{"data-action" => "examples", :type => "button"}
        %span
          %span.oneClick-link Expand
%section#source-ced2.source-wrapper.source-ced2.js-is-collapse-expand-open{:style => "border-top: medium none;"}
  .source-title.js-collapse-expand-zone
    British Dictionary definitions for
    %span.u-headword
      %span.js-headword
        %span.syllable em
        %span.last-syllable bed
    %button.button-source{:type => "button"} Expand
  .source-box.oneClick-area
    .js-toggle-nonluna{:style => "height: 349px;"}
      %header.main-header.oneClick-disabled.head-big
        .header-row.header-first-row
          %h2.head-entry
            %span.me embed
        .header-row.header-middle-row
          .pronounce
            %span.pronset
              %span.pron.ipapron
                \/
                %span.dbox-pron> ɪmˈbɛd
                \/
      .source-data
        .def-list
          .def-pbk
            %span.dbox-pg verb
            %span.dbox-bold -beds,
            %span.dbox-bold -bedding,
            %span.dbox-bold -bedded
            %br/
            .def-set
              %span.def-number 1.
              .def-content
                (
                %span.dbox-bold> usually foll by in
                ) to fix or become fixed firmly and deeply in a surrounding solid mass:
                %span.dbox-ex to embed a nail in wood
            .def-set
              %span.def-number 2.
              .def-content
                (
                %span.dbox-bold> transitive
                ) to surround closely:
                %span.dbox-ex hard rock embeds the roots
            .def-set
              %span.def-number 3.
              .def-content
                (
                %span.dbox-bold> transitive
                ) to fix or retain (a thought, idea, etc) in the mind
            .def-set
              %span.def-number 4.
              .def-content
                (
                %span.dbox-bold> often foll by with
                ) to assign a journalist or be assigned as one to accompany an active military unit
            .def-set
              %span.def-number 5.
              .def-content
                (
                %span.dbox-bold> transitive
                ) (
                %span.dbox-bold> grammar
                ) to insert (a subordinate clause) into a sentence
          .def-pbk
            %span.dbox-pg> noun
            (
            %span.dbox-pron> ˈɪmbɛd
            )
            %br/
            .def-set
              %span.def-number 6.
              .def-content
                a journalist accompanying an active military unit
        .tail-wrapper
          .tail-box.tail-type-relf
            .tail-header
              Derived Forms
            .tail-content
              .tail-elements
                %span.dbox-bold{"data-syllable" => "emˈbedment, "} embedment,
                %span.dbox-pg noun
    .js-toggle-zone{:style => "top: 261px;"}
      .button-toggle-wrapper
        %button.button-toggle.button-toggle-closed{"data-action" => "nonLunaDef", :type => "button"} Expand
  .source-meta.js-toggle-next-content
    Collins English Dictionary - Complete &amp; Unabridged 2012 Digital Edition
    %br/
    © William Collins Sons &amp; Co. Ltd. 1979, 1986 © HarperCollins
    %br>/
    Publishers 1998, 2000, 2003, 2005, 2006, 2007, 2009, 2012
    %br/
    %a.source-cite{:href => "http://dictionary.reference.com/cite.html?qh=embed&amp;ia=ced2", :rel => "nofollow"} Cite This Source
%section#source-dict21db.source-wrapper.source-dict21db.js-is-collapse-expand-open
  .source-title.js-collapse-expand-zone
    Contemporary definitions for
    %span.u-headword
      %span.js-headword
        %span.syllable em
        %span.last-syllable bed
    %button.button-source{:type => "button"} Expand
  .source-box.oneClick-area
    .source-data
      .def-list
        .def-pbk
          .dict21-pg
            noun
          .def-set
            %p
              See
              %a{:href => "/embedded journalist"} embedded journalist
      .tail-wrapper
  .source-meta
    Dictionary.com's 21st Century Lexicon
    %br>/
    Copyright © 2003-2014 Dictionary.com, LLC
    %br/
    %a.source-cite{:href => "http://dictionary.reference.com/cite.html?qh=embed&amp;ia=dict21db", :rel => "nofollow"} Cite This Source
%section#source-etymon2.source-wrapper.source-etymon2.js-is-collapse-expand-open
  .source-title.js-collapse-expand-zone
    Word Origin and History for
    %span.u-headword
      %span.js-headword
        %span.syllable em
        %span.last-syllable bed
    %button.button-source{:type => "button"} Expand
  .source-box.oneClick-area
    .source-data
      .def-list
        %span.dbox-italic v.
        %section.def-pbk
          .def-set
            %p
              1778, from
              %a.dbox-xref{:href => "/browse/em-"} em-
              +
              %a.dbox-xref{:href => "/browse/bed"} bed
              (n.). Originally a geological term, in reference to fossils in rock; figurative sense is from 1835; meaning "place a journalist within a military unit at war" is 2003. Related:
              = succeed ";" do
                %span.dbox-italic Embedded
              = succeed "." do
                %span.dbox-italic embedding
  .source-meta
    Online Etymology Dictionary, © 2010 Douglas Harper
    %br/
    %a.source-cite{:href => "http://dictionary.reference.com/cite.html?qh=embed&amp;ia=etymon2", :rel => "nofollow"} Cite This Source
.hidden-xs
  .slideshows.short-serp-slideshow{"data-imp" => "nqdc8q", "data-linkid" => "nqdc8q"}
    %h3 Discover our greatest slideshows
    %ul.carousel
      %li.slide
        %a{:href => "http://dictionary.reference.com/slideshows/dog-breeds"}
          %img#slideImg1{:height => "140", :src => "http://static.sfdict.com/assets/5485-4834918-3.jpg", :width => "130"}/
        .title-wrapper
          %h3
            %a.title-link{:href => "http://dictionary.reference.com/slideshows/dog-breeds"} Poodle, Basset &amp; Beagle: 10 Dog...
      %li.slide
        %a{:href => "http://dictionary.reference.com/slideshows/heart-expressions"}
          %img#slideImg2{:height => "140", :src => "http://static.sfdict.com/assets/3595-1327665-17.jpg", :width => "130"}/
        .title-wrapper
          %h3
            %a.title-link{:href => "http://dictionary.reference.com/slideshows/heart-expressions"} A Look at 8 Expressions with Heart
    .u-clear
    %li.slide
      %a{:href => "http://dictionary.reference.com/slideshows/love-slang"}
        %img#slideImg3{:height => "140", :src => "http://static.sfdict.com/assets/1479-9004728-10.jpg", :width => "130"}/
      .title-wrapper
        %h3
          %a.title-link{:href => "http://dictionary.reference.com/slideshows/love-slang"} Head Over Heels in Puppy Love?
    %li.slide
      %a{:href => "http://dictionary.reference.com/slideshows/common-mispronunciations"}
        %img#slideImg4{:height => "140", :src => "http://static.sfdict.com/assets/5178-7909581-17.jpg", :width => "130"}/
      .title-wrapper
        %h3
          %a.title-link{:href => "http://dictionary.reference.com/slideshows/common-mispronunciations"} 11 Common Mispronunciations
    .u-clear
  .blog-container
    %h3 Browse more topics on our blog
    %ul
      %li
        %a{:href => "http://blog.dictionary.com/discreet-and-discrete"} What Is the Difference Between Discreet and Discrete?
        .text Learn the correct uses of these two commonly confused homophones.
      %li
        %a{:href => "http://blog.dictionary.com/ampersand"} What Character Was Removed from the Alphabet?
        .text What mistaken pronunciation gave this character its name?
      %li
        %a{:href => "http://blog.dictionary.com/apostrophes-101"} Apostrophes 101
        .text This small mark has two primary uses: to signify possession or omitted letters.
      %li
        %a{:href => "http://blog.dictionary.com/getting-words-into-dictionaries"} How Do I Get a Word into the Dictionary?
        .text People invent new words all the time, but which ones actually make it?
